pre.demo-here {
  background-color: hsl( 40, 80%, 95% ) !important;
  border-top: solid 1px hsl( 40, 80%, 80% );
  border-bottom: solid 1px hsl( 40, 80%, 80% );

}


.demo-output-here {
  border: solid 10px hsl( 40, 100%, 50% );
}

