
article { counter-reset: chapter attr('data-ch') }

h1 { counter-reset: h2 }
h2 { counter-reset: h3 }


h1:before {
  counter-increment: chapter;
  content : "Chapter " attr(data-ch) ". ";
  display: block;
  opacity: 0.5;
}

h2:before { 
  counter-increment: h2;
  content :  counter( h2, decimal ) ". "; }

h3:before {
  counter-increment : h3;
  content : 
    counter( h2, decimal ) "."
    counter( h3, decimal ) " ";
  }


article h2:before { opacity: 0.40; }
article h3:before { opacity: 0.50; }




h2.nocount:before, h3.nocount:before {
  content : "";
  counter-increment : none;
}






