.TempConv {
  background-color: black;
  color: hsla( 0, 0%, 100%, 66%);
  text-align: center;
  font-family: monospace;
/*   background: no-repeat url('/img/sky.png');
 */}

.TempConv__title {
  background-color: hsla(0,0%,100%, 6.6%);
  color: hsla( 0, 0%, 100%, 88%);
}
.TempConv__title, .TempConv__arrow {
  color: hsl(144, 100%, 38%);
}


.TempConv--f .TempConv__arrow  {
  transform: scale(-1, 1);
}

.TempConv--f .TempConv__title  {
  transform: scale(-1, 1);
}

.TempConv input.empty {
  background-color: darkblue;

}
.TempConv input.invalid {
  background-color: darkred;
}


.TempConv__main {
  background-color: hsla(0,0%,100%, 15.6%);
  color: hsla( 0, 0%, 100%, 88%);
  padding: 2rem;
  margin: 2rem;
  font-size: 2rem;
}
.TempConv span {
  padding: 0.2rem;
}

.TempConv__arrow {
  display: inline-block;
  min-width: 3rem;
  margin: 0.9rem;
}

.TempConv__c, .TempConv__f {
  width: 8rem;
  padding: 0.6rem;
  font-size: 2rem;
  background-color: hsla(0,0%,0%);
  color: hsla( 0, 0%, 100%, 88%);
  color: hsl(44, 100%, 44%);
  text-align: right;
}

.TempConv .unit {
  color: hsl(22, 50%, 49%);  
}